In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("ml-100k/u.data",sep='\t',header=None)
df.columns=["user_id","item_id","rating","timestamp"]
df.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [3]:
df.shape

(100000, 4)

In [4]:
df["user_id"].max()

943

In [5]:
df["item_id"].max()

1682

In [6]:
# 943+1682+2=2627 columns expected after encoding

ONE HOT ENCODING

In [7]:
data_one_hot = pd.get_dummies(df, columns=['user_id', 'item_id'])
data_one_hot.head()
#print(data_one_hot.shape)

,rating,timestamp,user_id_1,user_id_2,user_id_3,user_id_4,user_id_5,user_id_6,user_id_7,user_id_8,...,item_id_1673,item_id_1674,item_id_1675,item_id_1676,item_id_1677,item_id_1678,item_id_1679,item_id_1680,item_id_1681,item_id_1682
0,3,881250949,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3,891717742,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,878887116,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2,880606923,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,886397596,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
data_one_hot.shape

(100000, 2627)

Storing the sparse data (and compressing it)

In [9]:
def convert_to_sparse_pandas(df):
    df = df.copy()
    for (columnName, columnData) in df.iteritems():
        df[columnName] = pd.SparseArray(columnData.values, dtype='uint8')

    return df

data_one_hot_sparse = convert_to_sparse_pandas(data_one_hot)
print(data_one_hot_sparse.dtypes)

<ipython-input-9-2a50e3b22e06>:4: FutureWarning: The pandas.SparseArray class is deprecated and will be removed from pandas in a future version. Use pandas.arrays.SparseArray instead.
  df[columnName] = pd.SparseArray(columnData.values, dtype='uint8')

rating          Sparse[uint8, 0]
timestamp       Sparse[uint8, 0]
user_id_1       Sparse[uint8, 0]
user_id_2       Sparse[uint8, 0]
user_id_3       Sparse[uint8, 0]
                      ...
item_id_1678    Sparse[uint8, 0]
item_id_1679    Sparse[uint8, 0]
item_id_1680    Sparse[uint8, 0]
item_id_1681    Sparse[uint8, 0]
item_id_1682    Sparse[uint8, 0]
Length: 2627, dtype: object

Creating a model

In [10]:
y = data_one_hot['rating']
X = data_one_hot[data_one_hot.columns.difference(['rating'])]
y_sparse = data_one_hot_sparse['rating']
X_sparse = data_one_hot_sparse[data_one_hot_sparse.columns.difference(['rating'])]

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression 

vector_dict = {'Pandas dataframe': [X,y],
    'Sparse pandas dataframe': [X_sparse, y_sparse]}

for key, item in vector_dict.items():
    print(key)
    
    X_train, X_test, y_train, y_test = train_test_split(item[0], item[1], test_size=0.3, random_state=42)
    model = LogisticRegression(random_state=0, multi_class='ovr', solver = 'liblinear')
    model.fit(X_train, y_train)

Pandas dataframe

:

:

In [ ]:
pip install -c conda-forge jupyterlab
pip install -c anaconda ipython

SyntaxError: invalid syntax (<ipython-input-2-20a119ae4d38>, line 1)